<td></td>
<td></td>
<th><div class="content">Character is Shown on Screen</div></th>
<th><div class="content">Character or their direwolf kills another drafted character</div></th>
<th><div class="content">Character or their direwolf kills an undrafted character</div></th>
<th><div class="content">Character kills a whitewalker</div></th>
<th><div class="content">Character kills a dragon</div></th>
<th><div class="content">Character dies</div></th>
<th><div class="content">Character is resurrected</div></th>
<th><div class="content">Character is resurrected as a whitewalker</div></th>
<th><div class="content">Character is shown onscreen as a whitewalker</div></th>
<th><div class="content">Character drinks alcohol</div></th>
<th><div class="content">Character has sex on screen</div></th>
<th><div class="content">Character has sex for the first time in GOT</div></th>
<th><div class="content">Character's direwolf is seen on screen</div></th>
<th><div class="content">Character sits on a throne</div></th>
<th><div class="content">Character has a vision/prophecy</div></th>
<th><div class="content">Savage of the week</div></th>