<section id="points-wrapper">
  <h1>Week <%= @week %></h1>
  <table>
    <tr>
      <%= render "points_table_headers"  %>
    </tr>
    <% @teams.each do |team| %>
      <tr>
        <td>
          <div>
            <%= team.name %>
          </div>
        </td>
      </tr>
      <% team.characters.each do |character| %>
        <tr>
          <td></td>
          <td>
            <div class="points-characters">
              <%= character.full_name %>
            </div>
          </td>
          <% 16.times do %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</section>
