// Place all the styles related to the Rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rule {
  width: 75%;
}

.points {
  width: 25%;
}

ul {
  margin: auto;
}

li {
  text-align: left;
}

#rules-container table td {
  text-align: left;
}

#rules-container table th {
  text-align: left;
}

#rules-container table {
  width: 55%;
}

#rules-container h2 {
  font-size: x-large;
}