// Place all the styles related to the Rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rules-container {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 2%;
}

.rule {
  width: 75%;
}

.points {
  width: 25%;
}

ul {
  margin: auto;
}

li {
  text-align: left;
}

h2 {
  margin-top: 5%;
}