// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#table-spacer {
  width: 0.5em;
}

#welcome-container table td {
  text-align: center;
}

#welcome-container table th {
  text-align: center;
}

.odd {
  background-color: lightgrey;
}

#team-col {
  text-align: left;
}