<section id="rules-container">
  <h1>Rules</h1>
<table>
  <tr>
    <th class="rule">Rule</th>
    <th class="points">Points</th>
  </tr>
  <% @rules.each do |rule| %>
    <tr>
      <td class="rule"> <%= rule.content %> </td>
      <td class="points"><%= display_points(rule.value) %> per <%= rule.frequency %></td>
    </tr>
  <% end %>
</table>
<h2>Clarifications</h2>
<ul>
  <li>Gregor and Benjen are counted as alive (not whitewalkers). Any characters maintaining mental functions will be considered alive.</li>
  <li>If a character possesses another character and gets a kill, the possessing character gets the point (i.e. Bran gets points for killing through warging).</li>
  <li>All points will be ruled by Saumya. Rulings can be contested by vote, but overrulled if MORE than 50% vote against it. For a tie, Saumya's call goes.</li>
  <li>Pick order will be determined through a hat draw, and will be snaking (1, 2, 3, 4, 5, 5, 4, 3, 2, 1, etc).</li>
  <li>Points will be tallied by a different team member each week for a given person(i.e. Spencer will tally mine week 1, Thomas will tally mine week 2, etc).</li>
  <li>Only the total at the end of the season will count towards winning.</li>
  <li>Winnings will be distributed 75% / 20%.</li>
</ul>
</section>
